<h1>My Corner</h1><br><br>

<%# Below are lists of books you have saved for the future. To remove books from your bookshelf, click "remove". %>
<h2> My Bookshelf</h2><br><br>
<% @user.books.each do |book|%>
<fieldset>
<p><%= book.title%></p>
<p><%= book.author %></p>
</fieldset>
<%end%>

<br><br><b><%= link_to "Write a New Review", new_review_path%><br><br>

<h2> My reviews</h2>

<% @user.reviews.each do |review|%>
<fieldset>
Book Title: <%= link_to review.book.title, book_path(review.book_id)%><br>
My Rating: <%= review.rating%> out of 5<br>
My Comments: <%= review.content%><br><br>
<%=link_to "Edit Review", edit_review_path(review.id) %><br><br>


</fieldset>
<%end%>
<br><br><br><br><br>