<div class = "create-account-form sign-in">
  <h2>Welcome Back!</h2>

  <%= form_for :session, url: '/sessions', html: {autocomplete: "off"} do |f| %>
    <%= f.text_field :email,placeholder: "example@gmail.com", required: :required %>
    <%= f.password_field :password, placeholder: "Password", required: :required %> 
    <%= f.submit "Sign In"%>
    <%= link_to "register", "/" %>
  <% end %>
 
  <% if flash[:errors]%>
     <br> <p style="color:red"><%= flash[:errors]%></p>
  
  <%end%>
</div>

<img src= <%= image_url("book.svg")%> alt="" class = "book-icon">
