<h1> Show Page for "<%= @book.title%>"</h1>



<p><img src = <%= @book.image_link%>></p><br>
<p>Author: <%= @book.authors%></p>

<p>Published: <%= @book.published_date%></p>
<p>Category: <%= @book.categories%></p>
<p>Average User Rating: <%= @book.average_rating%></p><br>
<p>Rating Count: <%= @book.ratings_count%></p><br>
<p>Description: <%= @book.description%></p><br>
<hr>
<%= link_to "Add a Review", new_review_path %>
<hr>
<p>Reviews</p>
    <% @book.reviews.each do |review|%>
       Content: <%= review.content%><br>
       Rating:  <%= review.rating%><br>
        <%= review.user.name%>
    <%end%>