<div id = "book-wrapper">
  <div class = "book-details">
    <div class = "user-interaction">
      <div class = "book-image">
        <% if @book.image_link == nil%>
          <img src = <%=image_url('missing_cover.jpg') %>>
        <% else %>
          <img src = <%= @book.image_link%>>
        <% end %>
      </div>
    </div>
    <div class = "book-information">
      <h1><%= @book.title%></h1>
      <% if @book.average_rating %>
        <% @book.average_rating.times do %>
          <span class="fa fa-star checked"></span>
        <% end %>
        <%# Subtract 5 to the average to determine the empty stars %>
        <% (5 - @book.average_rating).times do %>
          <span class="fa fa-star"></span>
        <% end %>
      <% else %>
        <%# No ratings %>
        <% 5.times do %>
          <span class="fa fa-star"></span>
        <% end %>
      <% end %>

      <p class = "authors">by <%= @book.authors%></p>
      <% if @book.published_date %>
        <p class = "published">Published <%= @book.published_date.strftime("%b %Y") %></p>
      <% end %>
      <p class = "description">
        <%= @book.description%>
      </p>
    </div>
  </div>
  <div class = "reviews-container">
    <% @book.reviews.each do |review| %>
      <div class = "review">
        <% review.rating.times do %>
          <span class="fa fa-star checked"></span>
        <% end %>
        <br>
        <p><b><%= review.user.name %> says</b></p>
        <p class = "content"><%= review.content %></p>
      </div>
    <% end %>
  </div>
</div>
