<div id = "book-wrapper">
  <div class = "book-details">
    <div class = "user-interaction">
      <div class = "book-image">
        <% if @book.image_link == nil%>
          <img src = <%=image_url('missing_cover.jpg') %>>
        <% else %>
          <img src = <%= @book.image_link%>>
        <% end %>

        <% if @current_user && @current_user.books.include?(@book) %>
          <%= button_to "Remove Book", user_shelf_path(UserShelf.find_by(book_id: @book.id, user_id: @current_user.id)), method: :delete %>
        <% elsif @current_user %>
          <%= button_to "Add Book", user_shelves_path(), params: {isbn: @book.isbn} %>
        <% end %>

      </div>
    </div>
    <div class = "book-information">
      <h1><%= @book.title%></h1>
      <% if @book.average_rating %>
        <% @book.average_rating.times do %>
          <span class="fa fa-star checked"></span>
        <% end %>
        <%# Subtract 5 to the average to determine the empty stars %>
        <% (5 - @book.average_rating).times do %>
          <span class="fa fa-star"></span>
        <% end %>
      <% else %>
        <%# No ratings %>
        <% 5.times do %>
          <span class="fa fa-star"></span>
        <% end %>
      <% end %>

      <p class = "authors">by <%= @book.authors%></p>
      <% if @book.published_date %>
        <p class = "published">Published <%= @book.published_date.strftime("%b %Y") %></p>
      <% end %>
      <p class = "description">
        <%= @book.description%>
      </p>
    </div>
  </div>
  <div class = "reviews-container">
    <% @book.reviews.each do |review| %>
      <div class = "review">
        <% review.rating.times do %>
          <span class="fa fa-star checked"></span>
        <% end %>
          <% if review.user.avatar_url %>
        <img src = <%= image_url(review.user.avatar_url) %>>
          <%end%>
        <p class = "username"><a href= <%= user_path(review.user)%>><%= review.user.name %> </a>says</p>
        <p class = "content"><%= review.content %></p>
      </div>
    <% end %>
    <%# <% if @current_user %> 
    <div class = "reivew-form">
      <% if @current_user %>
        <h2>Leave A Review!</h2>
        <%= form_for @book.reviews.build do |f|%>
          <%= f.number_field :rating, min: 1, max: 5 %><br><br>

          <%= f.text_area :content%><br><br>

          <%= f.hidden_field :book_id, value: @book.id %>
          <%= f.hidden_field :user_id, value: @current_user.id %>
          <%# <%= f.hidden_field :book_id, value: @book.id LINE 69 AND 70 WERE BEFORE USER SESSION WAS BUILT %>
          <%# <%= f.hidden_field :user_id, value: @user.id %> 

          <%= f.submit%>
        <% end %>
      <% else %>
        <h2><%= link_to "Login to leave reviews!", users_sign_in_path%></h2>
      <% end %>
    </div>
      <%# <%end%> 
  </div>
</div>
