<h1> Show Page for "<%= @book.title%>"</h1>

<% if @book.image_link == nil%>
  <img src = <%=image_url('missing_cover.jpg') %>>
<% else %>
  <img src = <%= @book.image_link%>>
<% end %>

<p></p><br>
<b><p>Author:</b> <%= @book.authors%></p>

<b><p>Published:</b><%= @book.published_date %>
<b><p>Category:</b> <%= @book.categories%></p>
<b><p>Average User Rating:</b> <%= @book.average_rating%></p>
<b><p>Rating Count:</b> <%= @book.ratings_count%></p><br>
<b><p>Description:</b> <%= @book.description%></p><br>

<hr><br>

<%= link_to "Add a Review", new_review_path %>

<br><br><hr>

<h2>Reviews</h2>

    <% if @book.reviews.empty? %>
        <br><p>Be the first to review this book!</p><br>
    <% else %>
        <% @book.reviews.each do |review|%>
            <fieldset>
                User:  <%= review.user.name%><br>
                Rating:  <%= review.rating%><br>
                Content: <%= review.content%><br>
            </fieldset>
        <%end%>
    <%end%>
