<div id = "home-wrapper">
  <div class = "create-account-container hero">
    <div class = "moto">
      <h2>
        We have <span>hundreds</span> of <br>books and reviews, <br>join us!
      </h2>
    </div>
    <div class = "create-account-form">
      <h2>Create a free account!</h2>
      <%= form_with model: User.new, method: :post, html: {autocomplete: "off"} do |f| %>
        <%= f.text_field :name, placeholder: "Name", required: :required %>
        <%= f.email_field :email, placeholder: "example@gmail.com", required: :required %>
        <%= f.password_field :password, placeholder: "Password", required: :required %>
        <%= f.submit "Sign Up" %>
      <% end %>
    </div>
  </div>

  <div>
<% if flash[:errors]%>
    <% flash[:errors].each do |error|%>
    <%= error%>
    <%end%>
<%end%>

</div>

  <div class = "features-preview">
    <div class = "categories">
      <h3>Looking for something new?</h3>

      <li><a href="/">Best Books on Romance & Love</a></li>
      <div class = "book-container">
        <img src= <%=image_url("cover_1.jpg")%> alt="">
        <img src= <%=image_url("cover_2.jpg")%> alt="">
        <img src= <%=image_url("cover_3.jpg")%> alt="">
      </div>

      <li><a href="/">Best Books on Crime & Mystery</a></li>
      <div class = "book-container">
        <img src= <%=image_url("cover_4.jpg")%> alt="">
        <img src= <%=image_url("cover_5.jpg")%> alt="">
        <img src= <%=image_url("cover_6.jpg")%> alt="">
      </div>

    </div>
    <div class = "book-reviews">
      <div class = "review-container">
        <div class = "user-review">
          <img class = "avatar" src= <%= image_url("avatar_1.jpg") %> alt="">
          <a href="/">Emily Smith</a>
          <p>I never ever understood how postpartum depression works or why women suffer from it.</p>
          <ul class = "stars">
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
          </ul>
        </div>
        <div class = "book-image">
          <img src= <%= image_url("cover_7.jpg") %> alt="">
        </div>
      </div>

      <%#--------------------------%>

      <div class = "review-container">
        <div class = "user-review">
          <img class = "avatar" src= <%= image_url("avatar_2.jpg") %> alt="">
          <a href="/">Prince Dare</a>
          <p>A wonderful book, the most beautiful I've ever read. I love it!</p>
          <ul class = "stars">
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
          </ul>
        </div>
        <div class = "book-image">
          <img src= <%= image_url("cover_8.jpg") %> alt="">
        </div>
      </div>

      <%#--------------------------%>

      <div class = "review-container">
        <div class = "user-review">
          <img class = "avatar" src= <%= image_url("avatar_3.jpg") %> alt="">
          <a href="/">Antione Bartell</a>
          <p>How does the author manage to distinguish the characters from one another so vividly?</p>
          <ul class = "stars">
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
          </ul>
        </div>
        <div class = "book-image">
          <img src= <%= image_url("cover_9.jpg") %> alt="">
        </div>
      </div>

      <%#--------------------------%>



    </div>
  </div>

</div>
