<div id = "home-wrapper">
  <div class = "create-account-container hero">
    <div class = "moto">
      <h2>
        We have <span>hundreds</span> of <br>books and reviews, <br>join us!
      </h2>
    </div>
    <div class = "create-account-form">
      <h2>Create a free account!</h2>
      <%= form_with html: {autocomplete: "off"} do %>
        <%= text_field_tag :name, "", placeholder: "Name"%>
        <%= text_field_tag :email, "", placeholder: "example@gmail.com" %>
        <%= text_field_tag :password, "", placeholder: "Password" %>
        <%= submit_tag "Sign Up" %>
      <% end %>
    </div>
  </div>

  <div class = "features-preview">
    <div class = "categories">
      <h3>Looking for something new?</h3>

      <li><a href="/">Ram</a></li>
      
    </div>
    <div class = "sample-book">

    </div>
  </div>

</div>
