<div id = "home-wrapper">
  <div class = "create-account-container hero">
    <div class = "moto">
      <h2>
        We have <span>hundreds</span> of <br>books and reviews, <br>join us!
      </h2>
    </div>
    <div class = "create-account-form">
      <h2>Create a free account!</h2>
      <%= form_with html: {autocomplete: "off"} do %>
        <%= text_field_tag :name, "", placeholder: "Name"%>
        <%= text_field_tag :email, "", placeholder: "example@gmail.com" %>
        <%= text_field_tag :password, "", placeholder: "Password" %>
        <%= submit_tag "Sign Up" %>
      <% end %>
    </div>
  </div>

  <div class = "features-preview">
    <div class = "categories">
      <h3>Looking for something new?</h3>

      <li><a href="/">Best Books on Romance & Love</a></li>
      <div class = "book-container">
        <img src= <%=image_url("cover_1.jpg")%> alt="">
        <img src= <%=image_url("cover_2.jpg")%> alt="">
        <img src= <%=image_url("cover_3.jpg")%> alt="">
      </div>

      <li><a href="/">Best Books on Crime & Mystery</a></li>
      <div class = "book-container">
        <img src= <%=image_url("cover_4.jpg")%> alt="">
        <img src= <%=image_url("cover_5.jpg")%> alt="">
        <img src= <%=image_url("cover_6.jpg")%> alt="">
      </div>

    </div>
    <div class = "sample-book">

    </div>
  </div>

</div>
