<h2>Let users know what you think...</h2>
<p>Loved it? Hated it? Let other's know by leaving a review</p>
<br><br>
<%=form_for @review do |f|%>
<%= f.label :rating%>
<%= f.number_field :rating %><br><br>

<%= f.label :content%>
<%= f.text_area :content%><br><br>

<%= f.label :book_id %>
<%= f.collection_select :book_id, Book.all, :id, :title %><br><br>

<%= f.label :user_id %>
<%= f.collection_select :user_id, User.all, :id, :name %>

<br><br><%= f.submit%>
<%end%>
