<!DOCTYPE html>
<html>
  <head>
    <title>BookCorner</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>

  <body>
    <div id = "wrapper">
      <nav class = "semi-nav">
        <a href="/"><h1 class = "logo">book<span>corner</span></h1></a>
        <input type="text" placeholder= "The Great Gatsby">

        <ul>
          <li><a href="/" class = <%= current_class?('/') %>>Home</a></li>
          <li><a href="/">Browse</a></li>
          <li><a href="/">My Books</a></li>
          <li><%= link_to "Sign In", {controller: :users, action: :sign_in}, class: current_class?('/users/sign_in') %></li>
        </ul>
      </nav>

      <%= yield %>

      <footer>
        <div class = "social-icons-container">
          <a href="/"><img src= <%= image_url("twitter.svg")%> alt=""></a>
          <a href="/"><img src= <%= image_url("facebook.svg")%> alt=""></a>
          <a href="/"><img src= <%= image_url("instagram.svg")%> alt=""></a>
        </div>
        <p>Copyright &copy bookcorner 2020</p>
      </footer>

    </div>


  </body>
</html>
