<!DOCTYPE html>
<html>
  <head>
    <title>Bookifly</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id = "wrapper">
      <nav class = "semi-nav">
        <a href="/"><h1 class = "logo">book<span>corner</span></h1></a>
        <input type="text" placeholder= "The Great Gatsby">

        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/">My Books</a></li>
          <li><a href="/">Sign In</a></li>
          <li><a href="/">Join</a></li>
        </ul>
      </nav>

      <%= yield %>
      
    </div>


  </body>
</html>
